@import "tailwindcss";

@theme inline {
  /* colors */
  --color-primary: #47709a;
  --color-primary-hover: #3a5d82;
  --color-silver: #c9cbce;
  --color-dark: #1a1a1a;
  --color-white: #ffffff;
  --color-light: #f8f9fa;
}

body {
  background: var(--color-white);
  color: var(--color-dark);
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
  font-weight: 500;
}
